page-contact {
	.item {cursor:pointer;}
	.item:hover{
    background-color: #ddd !important;
	}
	.toolbar-background {
		background-image: linear-gradient(to right, #fe5f5b 0%, #fe6b40 100%);
    	background-repeat: repeat-x;
	}
	.toolbar-title {
		color:#fff;
	}
}
